<% if beauty.count != 0 %>
	<% beauty.each do |b| %>
		<div class="col-md-6 sm-pad">
		  <div class="warp">
		  	<%= link_to "#{url}/#{b.id}" do %>
		  		<%= image_tag b.cover.url(:mini) %>
		  		<span class="text-content"><span><%= b.title %></span></span>
		  	<% end %>
		  </div>
		</div>
	<% end %>
<% end %>
