<div class="row">
  <div class="col-md-6">
    <h3>HELLO NEWS</h3>
    <div class="row">
      <div class="col-md-6 dummy-5">
        1
      </div>
      <div class="col-md-6">
        <div class="col-md-6 dummy-1">1</div>
        <div class="col-md-6 dummy-2">2</div>
        <div class="col-md-6 dummy-3">3</div>
        <div class="col-md-6 dummy-4">4</div>
      </div>
    </div>

  </div>
  <div class="col-md-4">
    <h3>HELLO MUSIC</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12 dummy-6">1</div>
        <div class="col-md-12 dummy-7">2</div>
        <div class="col-md-12 dummy-8">3</div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12 dummy-9">Ads</div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <h3>.</h3>
  <div class="col-md-12 dummy-1">Ads</div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>HELLO PARTY</h3>
    <div class="col-md-12 dummy-13">1</div>
  </div>
  <div class="col-md-4">
    <h3>HELLO HISO</h3>
    <div class="col-md-12 dummy-12">1</div>
  </div>
  <div class="col-md-4">
    <h3>BE HELLO</h3>
    <div class="col-md-12 dummy-10">1</div>
    <div class="col-md-12 dummy-11">Ads</div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 dummy-15">
    <h3>HELLO EVENT</h3>

    <div class="row line">
      <div class="col-md-4">image</div>
      <div class="col-md-8">content</div>
    </div>

    <div class="row line">
      <div class="col-md-4">image</div>
      <div class="col-md-8">content</div>
    </div>

    <div class="row line">
      <div class="col-md-4">image</div>
      <div class="col-md-8">content</div>
    </div>

    <div class="row line">
      <div class="col-md-4">image</div>
      <div class="col-md-8">content</div>
    </div>

    <div class="row line">
      <div class="col-md-4">image</div>
      <div class="col-md-8">content</div>
    </div>

  </div>

  <div class="col-md-4 dummy-15">
    <h3>.</h3>

    <div class="row">
      <div class="col-md-12">
        <p>Ads</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>HELLO TRAVEL</h3>
        <p>asd</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 dummy-17">
    <h3>HELLO BEAUTY</h3>
    <div class="col-md-6 line">1</div>
    <div class="col-md-6 line">2</div>
    <div class="col-md-6 line">3</div>
    <div class="col-md-6 line">4</div>
    <div class="col-md-6 line">5</div>
    <div class="col-md-6 line">6</div>
    <div class="col-md-6 line">7</div>
    <div class="col-md-6 line">8</div>
  </div>
</div>