<% title @search %>

Search<br><%= @search %>
<br>

<% @news.each do |x| %>
<%= link_to("News - #{x.title}", news_path(x)) %>
<% end %>

<% @party.each do |x| %>
<p>Party -
  <%= x.id %></p>
<% end %>