// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$skinTextTable: #7f8c8d;
$skinActiveColor: #87329d;

$skinHeaderBck: #1e2a33;
$skinHeaderTextColor: #FFFFFF;
$panelHeaderBck: #87329d;
$panelHeaderTextColor: #FFFFFF;
$skinLogo: #fff image-url("admin.jpg") no-repeat 30px 4px;

@import "active_skin";
@import "bootstrap-tagsinput";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

span.text-r{
  float: right;
}

.bootstrap-tagsinput {
	width: 75%;
	.tag {
		margin-right: 2px;
		color: white;
	}
}

.label-info, .badge-info {
	background-color: #5cb85c;
	border-color: #4cae4c;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 2px 4px;
}

*[class*='mce-'] { border: 1px solid #333; -webkit-border-radius: 0!important; -moz-border-radius: 0!important; border-radius: 0!important; }
.mce-throbber { background: #fff; }
.mce-tinymce button, .mce-panel button { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.mce-panel { background: #fff; filter: none; border: 0 solid #fff; }
.mce-in .mce-panel { background: #f3f3f3; border-top: 1px solid #ddd; }
.mce-edit-area { border: 1px solid #ddd!important; }
.mce-btn-group .mce-first, .mce-btn-group .mce-last { border: 0!important; }
.mce-toolbar .mce-btn button { padding-top: 3px; padding-bottom: 3px; border-radius: 0; }
.mce-toolbar .mce-btn i { color: #555; }
.mce-toolbar .mce-btn:hover i { color: #333; }
.mce-toolbar .mce-btn, .mce-toolbar .mce-btn.mce-disabled { background: none!important; filter: none!important; border: 0; -webkit-box-shadow: none!important; -moz-box-shadow: none!important; box-shadow: none!important; }
.mce-toolbar .mce-btn.mce-disabled { opacity: .4!important; filter: alpha(opacity=40)!important; }
.mce-toolbar .mce-btn.mce-active { background: #eee!important; }
.mce-floatpanel { -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.3); -moz-box-shadow: 0 3px 7px rgba(0,0,0,.3); box-shadow: 0 3px 7px rgba(0,0,0,.3); }
.mce-btn { background: #f0f0f0; }
.mce-btn:hover { background: #e9e9e9; }
.mce-primary { background: #7fba00; }
.mce-primary:hover, .mce-primary:focus { background: #88ca00; }
.mce-primary:active { background: #555; }
.mce-textbox { -webkit-transition: none; transition: none; }
.mce-textbox:focus { border-color: #38add7; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.mce-menu-item:hover, .mce-menu-item.mce-selected, .mce-menu-item:focus { background: #eee; }
.mce-menu-item:hover .mce-text, .mce-menu-item.mce-selected .mce-text { color: #333; }



#title_bar {
  background: $skinHeaderBck;
  text-shadow: none;
  border: none;
  padding: 15px 30px;
  @include no-shadow;
  border-bottom: 4px solid $skinActiveColor;
  margin: 0;
  h2 {
    color: white;
  }
  .action_items {
    span.action_item > a, span.action_item > .dropdown_menu > a {
      @include rounded(0);
      background: $skinActiveColor;
      color: white;
      @include no-shadow;
      text-shadow: none;
      border: none;
      padding: 17px;
      font-size: 14px;
      &:hover {
        background: lighten($skinActiveColor, 10%) !important;
      }
    }
  }
}

#img_prev{ width: 100px; }
#poster_prev{ width: 100px; }




