/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 * require_tree .
 *= stub active_admin
 *= require_self
 *= require nav
 *= require dara
 *= require news
 *= require party
 *= require social-share-kit
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@font-face {
  font-family: 'KittithadaLight45P';
  font-size  : 18px;
  src        : url("KittithadaLight45P.eot?") format('eot'), url("KittithadaLight45P.woff") format('woff'), url("KittithadaLight45P.ttf") format('truetype'), url("KittithadaLight45P.svg#KittithadaLight45P") format('svg');
}


body {
  background : url("background.jpg");
  font-family: 'KittithadaLight45P';
  line-height: 1;
  h1 {
    font-size: 64px;
  }
  
h2 {
    font-size: 54px;
  }
  
h3 {
    font-size: 44px;
  }
  
h4 {
    font-size: 34px;
  }
  
h5 {
    font-size: 28px;
  }
  
p {
    font-size: 24px;
  }
}


.container {
  width: 1100px !important;
}


.no-pad {
  padding: 0 !important;
}


.h2 {
  background-color: #691783;
  color           : #efefef;
  text-align      : center;
  font-size       : 2.3em;
}


.footerbot {
  margin-top      : 20px;
  background-color: #751a91;
  color           : #efefef;
  h4 {
    text-align      : center;
    background-color: #691783;
    color           : #efefef;
    text-align      : center;
    margin          : 0 0 10px;
    padding-top     : 10px;
    padding-bottom  : 10px;
    font-size       : 2em;
  }
  

  p {
    padding-left : 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    font-size    : 1.5em;
  }
  

  .center {
    text-align: center;
    i {
      margin-left : 5px;
      margin-right: 5px;
    }
  }
}
