// Place all the styles related to the Dara controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$base-color: #62178A;

.pages{
	margin-bottom: 40px;
}

.space{
	margin-top: 20px;
}

.ads{
	height: 250px;
	background-color: #ED581E;
}

.down{
	height: 150px !important;
}

.content-head{
	width: 100%;
	color: #fff;
	display: table;
	line-height: 59px;
	padding-right: 49px;
	font-size: 20px;
	background-color: #2A2A2A;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
	span.content{
		display: inherit;
		background: url(title.png) no-repeat center right;
		line-height: 59px;
		font-size: 1.5em;

		padding-left: 15px;
		padding-right: 85px;
	}
}

.contents{
	background-color: #FFFFFF;
	-webkit-box-shadow: -1px 1px 11px -1px rgba(94,94,94,1);
	-moz-box-shadow: -1px 1px 11px -1px rgba(94,94,94,1);
	box-shadow: -1px 1px 11px -1px rgba(94,94,94,1);
	padding-bottom: 15px;
	.content-title{

	}

	.sub-title{
		.by{
			color: #62178A;
		}
	}
	.social{
		float: right;
		margin-top: -2px;
	}

	.cover{
		img{
			margin-top: 20px;
			display: block;
			width: 100%;
			max-height: 400px;
		}
	}

	.content{
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 1.1em;
		p{
			text-indent: 20px;
		}
	}
}


.other-card{
	margin-bottom: 20px;
	padding-bottom: 20px;
	-webkit-box-shadow: 1px 1px 11px -1px rgba(94,94,94,1);
	-moz-box-shadow: 1px 1px 11px -1px rgba(94,94,94,1);
	box-shadow: 1px 1px 11px -1px rgba(94,94,94,1);
	.head{
		margin-top: 0;
		.title{
			color: #C300CB;
			font-size: 1.2em;
			margin: 0;
		}
		.sub-title{
			font-size: .9em;
			margin-bottom: 0;
		}
	}

	.cover{
		border-top: 4px solid $base-color;
		border-bottom: 4px solid $base-color;
		img.card-img{
			margin-top: 0;
			display: block;
			width: 100%;
			max-height: 220px;
		}
		.day{
			position: absolute;
		  top: 10px;
		  left: 10px;
		  background-color: rgba(141, 144, 152, .9);
		  color: #fff;
		  padding: 10px;
		  border-radius: 10px;
		  p{
		  	text-align: center;
		  	margin: 0;
		  	font-size: 14px;
		  	font-weight: bolder;
		  	color: $base-color;
		  }
		}
	}

	.content-col{
		margin-top: 10px;
		margin-bottom: 10px;

		p.content-text{
			text-indent: 20px;
			font-size: .9em;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2; /* number of lines to show */
			line-height: 1;        /* fallback */
			max-height: 1*2;
		}
	}

	.foot{
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: #62178A;
		color: #ffffff;
		font-size: 1em;
		.watch{
			line-height: 2;
			float: right;
		}
	}
}

.related-news{
	img.squre{
		display: block;
		width: 100%;
	}

	.text-overlay{
		padding-top: 10px;
		margin-bottom: 0px;
		text-indent: 10px;
		bottom: 0;
		background-color: rgba(195, 0, 203, 0.42);
		color: #ffffff;
		position: absolute;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2; /* number of lines to show */
		line-height: 1;        /* fallback */
		max-height: 1*2;
	}
}

.tags{
	color: $base-color;
	i{
		font-size: 1.6em;
	}
}













