// Place all the styles related to the Dara controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "var";

.dara-tabs {
  margin-top      : 5px;
  background-color: white;
  
  li {
    a,
    a:hover,
    a:focus {
      background-color: white;
      color           : black;
      border          : 1px solid #ddd;
    }
  }
  

  li.active {
    a,
    a:hover,
    a:focus {
      background-color: $indexcardBG;
      color           : white;
    }
  }
}


.enter-tab {
  background-color: white;
}


.party-tab {
  background-color: white;
}


.music-tab {
  background-color: white;
}


.travel-margin {
  margin-left: -20px;
  width      : 112%;
}
