@import "var";
$dropDown: true;
.navbar-default {
  margin-top      : 25px;
  margin-bottom   : 35px;
  background-color: $bgDefault;
  border-color    : $bgHighlight;
  border-style    : none;
  border-radius   : 0;
  font-size       : 1.5em;
  
  img.visible-xs {
    max-width: 160px;
    position : absolute;
    top      : -27px;
  }
  

  img.hidden-xs {
    max-width: 160px;
    position : absolute;
    top      : -27px;
  }
  

  .navbar-logo {
    color: $colDefault;
    &:hover,
    &:focus {
      color: $colHighlight;
    }
  }
  

  .navbar-text {
    color: $colDefault;
  }
  

  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,
        &:focus {
          color           : $colHighlight;
          background-color: $colHover;
        }
      }
      

      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            font-size: 1.5em;
            color    : $colDefault;
            &:hover,
            &:focus {
              color           : $colHighlight;
              background-color: $colHover;
            }
          }
          

          .divider {
            background-color: $bgHighlight;
          }
        }
      }
    }
    

    > .active {
      > a,
      > a:hover,
      > a:focus {
        color           : $colHighlight;
        background-color: $bgHighlight;
      }
    }
    

    > .open {
      > a,
      > a:hover,
      > a:focus {
        color           : $colHighlight;
        background-color: $colHover;
      }
    }
  }
  

  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover,
    &:focus {
      background-color: $colHover;
    }
    

    .icon-bar {
      background-color: $colDefault;
    }
  }
  

  .navbar-collapse {
    border-top: 0 none transparent;
  }
  

  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }
  

  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
}


@media (max-width: 768px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }
    

    > .active {
      > a,
      > a:hover,
      > a:focus {
        color           : $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
}
