// Place all the styles related to the Party controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "var";

.row-party {
  color                  : #fefefe;
  margin-top             : 15px;
  padding-top            : 20px;
  border-top-right-radius: 45px;
  background-color       : $cardBG;

  .party-cover {
    z-index: 100;
    img {
      display: block;
      width  : 100%;
    }
  }

  .party-title {
    h2 {
      text-indent: 20px;
      font-size: 3em;
      line-height: 0.7;
      margin-top : 0;
      margin-bottom: 0;
      margin-left: -15px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-height: 1;        /* fallback */
      max-height: 1*2;
    }
  }
  p.day{
    text-align: right;

  }

  p.content{
    text-indent: 30px;
    margin-left: -15px;
    a{
      text-decoration: underline;
    }
  }

  .party-foot {
    text-align        : right;
    margin-top        : -20px;
    padding-top       : 5px;
    padding-bottom    : 5px;
    -webkit-box-shadow: 0 -1px 5px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow   : 0 -1px 5px 0 rgba(50, 50, 50, 1);
    box-shadow        : 0 -1px 5px 0 rgba(50, 50, 50, 1);
    font-size         : 1.8em;

    .social{
      float: right;
      margin-top: -2px;
      .ssk-group{
        display: inline;
        float: right;
        p{
          display: inline;
        }
      }
    }
  }
}


.box-shadow {
  -webkit-box-shadow: 1px 1px 11px -1px rgba(94,94,94,1);
  -moz-box-shadow   : 1px 1px 11px -1px rgba(94,94,94,1);
  box-shadow        : 1px 1px 11px -1px rgba(94,94,94,1);
}


.party-wrap {
  padding         : 20px 10px;
  background-color: white;
  .day {
    position        : absolute;
    top             : 10px;
    left            : 10px;
    background-color: rgba(141, 144, 152, .9);
    color           : #fff;
    padding         : 10px 20px;
    border-radius   : 10px;
    p {
      text-align : center;
      margin     : 0;
      font-size  : 20px;
      font-weight: bolder;
      color      : $baseColor;
    }
  }


  .party-card {
    padding-left : 5px;
    padding-right: 5px;
    margin-bottom: 15px;
    min-height: 385px;
    .box-shadow {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius : 10px;
    }

    .content {
      background-color          : $cardBG;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius : 10px;
      .party-card-bot {
        .title{
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1; /* number of lines to show */
          line-height: 1;        /* fallback */
          max-height: 1*1;
          border-bottom: 2px #efefef solid;
        }
      }
    }

    .party-card-bot {
      .title {
        margin-bottom: 3px;
        padding-bottom: 3px;
        font-size    : 1.5em;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-height: 1;        /* fallback */
        max-height: 1*1;
        border-bottom: 2px #efefef solid;
      }

      p.sub-title {
        color        : #f4f75e;
        font-size    : 1.3em;
        margin-bottom: 5px;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-height: 1;        /* fallback */
        max-height: 1*1;
      }

      p.content-p {
        font-size: 1.3em;
        text-indent: 15px;
        color: white;
        a{
          text-decoration: underline;
        }
        // overflow: hidden;
        // text-overflow: ellipsis;
        // display: -webkit-box;
        // -webkit-box-orient: vertical;
        // -webkit-line-clamp: 2; /* number of lines to show */
        // line-height: 1;        /* fallback */
        // max-height: 1*2;
      }
    }

    img.party-card-img {
      display : block;
      width   : 100%;
      overflow: hidden;
    }
  }
}


.gallery-wrap {
  margin-bottom   : 20px;
  padding         : 20px 10px;
  background-color: white;
  .gallery-card {
    padding-left : 5px;
    padding-right: 5px;
    margin-bottom: 15px;
    min-height: 266px;
    .content {
      background-color: white;
    }
    .gallery-card-bot {
      .title {
        margin-bottom: 3px;
        padding-bottom: 3px;
        text-indent: 20px;
        font-size    : 1.5em;
        font-weight: bolder;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-height: 1;        /* fallback */
        max-height: 1*2;
        a{ color: $baseColor; }
        border-bottom: 2px #333 solid;
      }

      p.sub-title {
        color        : #fe2b5e;
        font-size    : 1.3em;
        margin-bottom: 5px;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-height: 1;        /* fallback */
        max-height: 1*1;
      }

      p.content-p {
        font-size: 1.3em;
        color    : black;
      }
    }

    img.gallery-card-img {
      display: block;
      width  : 100%;
    }
  }
}


.party-poster {
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  p {
    line-height: 2px;
    text-align : center;
  }

  h5 {
    background-color: $colHover;
    padding: 10px;
    color           : white;
    text-align      : center;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 0;
  }

  img {
    display: block;
    width: 100%;
    border: 2px $baseColor solid;
  }
}


.party-show-header {
  h2 {
    color        : $colHover;
    margin-top   : 0;
    margin-bottom: 0;
    font-size    : 2.5em;
  }


  h3 {
    font-size: 3em;
    font-weight: bolder;
    color: #87329d;
  }
}


.pm {
  margin-bottom: 20px;
  h1.content-title {
    font-size  : 4em;
    line-height: 1;
  }

  p.sub-title {
    margin-left: 14px;
  }
}

.party-show-top {
  margin-bottom: 20px;
  a {
    margin-bottom: 20px;
  }
}

.party-show-bot {
  margin-top   : 20px;
  margin-bottom: 20px;
}


.party-wrap-show {
  padding: 10px;
}


.rm {
  margin-bottom: 20px;
}


.party-show {
  margin-bottom: 0;
}
