// Place all the styles related to the Party controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "var";

.row-party {
  color                  : #fefefe;
  margin-top             : 15px;
  padding-top            : 20px;
  border-top-right-radius: 45px;
  background-color       : $cardBG;
  
  .party-cover {
    z-index: 100;
    img {
      display: block;
      width  : 100%;
    }
  }
  

  .party-title {
    h2 {
      line-height: 0.7;
      margin-top : 0;
    }
  }
  

  .party-foot {
    text-align        : right;
    margin-top        : -20px;
    padding-top       : 5px;
    padding-bottom    : 5px;
    -webkit-box-shadow: 0 -1px 5px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow   : 0 -1px 5px 0 rgba(50, 50, 50, 1);
    box-shadow        : 0 -1px 5px 0 rgba(50, 50, 50, 1);
    font-size         : 1.8em;
  }
}


.box-shadow {
  -webkit-box-shadow: 1px 1px 11px -1px rgba(94,94,94,1);
  -moz-box-shadow   : 1px 1px 11px -1px rgba(94,94,94,1);
  box-shadow        : 1px 1px 11px -1px rgba(94,94,94,1);
}


.party-wrap {
  padding         : 20px 10px;
  background-color: white;
  .day {
    position        : absolute;
    top             : 10px;
    left            : 10px;
    background-color: rgba(141, 144, 152, .9);
    color           : #fff;
    padding         : 10px;
    border-radius   : 10px;
    p {
      text-align : center;
      margin     : 0;
      font-size  : 14px;
      font-weight: bolder;
      color      : $baseColor;
    }
  }
  

  .party-card {
    padding-left : 5px;
    padding-right: 5px;
    margin-bottom: 15px;
    .box-shadow {
      border-radius             : 15px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius : 10px;
    }
    

    .content {
      background-color          : $cardBG;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius : 10px;
    }
    

    .party-card-bot {
      .title {
        color        : white;
        margin-bottom: 0;
        font-size    : 2.5em;
      }
      

      p.sub-title {
        color        : #f4f75e;
        font-size    : 1.3em;
        margin-bottom: 5px;
      }
      

      p.content-p {
        font-size: 1.3em;
        color    : white;
      }
    }
    

    img.party-card-img {
      display : block;
      width   : 100%;
      overflow: hidden;
      height  : 180px;
    }
  }
}


.gallery-wrap {
  margin-bottom   : 20px;
  padding         : 20px 10px;
  background-color: white;
  .gallery-card {
    padding-left : 5px;
    padding-right: 5px;
    margin-bottom: 15px;
    .content {
      background-color: white;
    }
    

    .gallery-card-bot {
      .title {
        color        : $cardBG;
        margin-bottom: 0;
        font-size    : 2em;
      }
      

      p.sub-title {
        color        : #fe2b5e;
        font-size    : 1.3em;
        margin-bottom: 5px;
      }
      

      p.content-p {
        font-size: 1.3em;
        color    : black;
      }
    }
    

    img.gallery-card-img {
      display: block;
      width  : 100%;
    }
  }
}


.party-poster {
  
  p {
    line-height: 2px;
    text-align : center;
  }
  

  h5 {
    background-color: $colHover;
    color           : white;
    text-align      : center;
  }
  

  img {
    width: 100%;
  }
}


.party-show-header {
  h2 {
    color        : $colHover;
    margin-top   : 0;
    margin-bottom: 0;
    font-size    : 2.5em;
  }
  

  h3 {
    margin-top   : 0;
    margin-bottom: 0;
  }
}


.pm {
  h1.content-title {
    margin-left: 13px;
    font-size  : 4em;
    line-height: 1;
  }
  

  p.sub-title {
    margin-left: 14px;
  }
}


.party-show-top {
  margin-bottom: 20px;
  a {
    margin-bottom: 20px;
  }
}


.party-show-bot {
  margin-top   : 20px;
  margin-bottom: 20px;
}


.party-wrap-show {
  padding: 10px;
}


.rm {
  margin-bottom: 20px;
}


.party-show {
  margin-bottom: 0;
}
