<div class="container-fluid footerbot">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6 no-pad">
      <h4 class="footertop">Archive</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      </p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 no-pad">
      <h4 class="footertop">Contribute</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      </p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 no-pad">
      <h4 class="footertop">Contact</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      </p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 no-pad">
      <h4 class="footertop">Be Upzaad</h4>
      <p class="center">
        <i class="fa fa-facebook-square fa-4x"></i>
        <i class="fa fa-twitter-square fa-4x"></i>
        <i class="fa fa-youtube-square fa-4x"></i>
      </p>
    </div>
  </div>
</div>