<div class="container-fluid footertop">
  <div class="row">
    <div class="col-md-3">
      Archive
    </div>
    <div class="col-md-3">
      Contribute
    </div>
    <div class="col-md-3">
      Contact
    </div>
    <div class="col-md-3">
      Be Upzaad
    </div>
  </div>
</div>

<div class="container-fluid footerbot">
  <div class="row">
    <div class="col-md-3">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
    </div>
    <div class="col-md-3">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
    </div>
    <div class="col-md-3">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
    </div>
    <div class="col-md-3">
      <div class="col-md-4">
        Facebook
      </div>
      <div class="col-md-4">
        Twitter
      </div>
      <div class="col-md-4">
        Youtube
      </div>

      <div class="col-md-4">
        <i class="fa fa-facebook-square fa-4x"></i>
      </div>
      <div class="col-md-4">
        <i class="fa fa-twitter-square fa-4x"></i>
      </div>
      <div class="col-md-4">
        <i class="fa fa-youtube-square fa-4x"></i>
      </div>

    </div>
  </div>
</div>