<div class="container-fluid footerbot">
  <div class="row">
    <div class="col-md-3">
      <h4>Archive</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      </p>
    </div>
    <div class="col-md-3">
      <h4>Contribute</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      </p>
    </div>
    <div class="col-md-3">
      <h4>Contact</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      </p>
    </div>
    <div class="col-md-3">
      <h4>Be Upzaad</h4>
      <div class="col-md-4">
        Facebook
        <p>
          <i class="fa fa-facebook-square fa-4x"></i>
        </p>
      </div>
      <div class="col-md-4">
        Twitter
        <p>
          <i class="fa fa-twitter-square fa-4x"></i>
        </p>
      </div>
      <div class="col-md-4">
        Youtube
        <p>
          <i class="fa fa-youtube-square fa-4x"></i>
        </p>
      </div>
    </div>
  </div>
</div>