<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-6">
        <h3>Popular</h3>
        <p>adfsfdsafadf</p>
      </div>
      <div class="col-md-6">
        <h3>Contact Us</h3>
        <p><%= fa_icon 'camera-retro' %>
          adfsfdsafadf</p>
      </div>
    </div>
  </div>
</div>