<div class="container-fluid dummy-1">
  Ads
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-md-4">
      <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar-1" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
            Entertainment News
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Gossip</a>
            </li>
            <li class="divider" role="separator"></li>
            <li>
              <a href="#">Music</a>
            </li>
            <li class="divider" role="separator"></li>
            <li>
              <a href="#">ละคร</a>
            </li>
            <li class="divider" role="separator"></li>
            <li>
              <a href="#">หนัง</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Party</a>
        </li>
        <li>
          <a href="#">HiSo</a>
        </li>
        <li>
          <a href="#">Beauty</a>
        </li>
        <li>
          <a href="#">Event</a>
        </li>
        <li>
          <a href="#">Travel</a>
        </li>
      </ul>
    </div>
<!-- /.navbar-collapse -->
  </div>
<!-- /.container-fluid -->
</nav>