<div class="row pages">
	<div class="col-md-8">

		<div class="row">
			<div class="content-head">
				<span class="content"> News </span>
			</div>
		</div>

		<div class="row box-shadow big-card">
			<div class="col-md-6 no-pad">
				<%= image_tag "card-cover.jpeg" %>
			</div>

			<div class="col-md-6">
				<div class="row title">
					<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
					<p>xxxxxxxxxxxxxxxxxxxxxxx</p>
				</div>
				<div class="row content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quis, obcaecati est quae. Tempore quae amet assumenda accusamus magni omnis qui vel molestiae placeat, repudiandae nisi quasi cumque tempora quia!
					</p>
				</div>
				<div class="row foot">
					<p>Watch: 12K</p>
				</div>
			</div>
		</div>

	</div>


<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
	<div class="col-md-4"></div>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
</div>